<!--  Replace menu links here -->

<li class="nav-item dropdown">
   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      About
  </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{{site.baseurl}}/about-us.html">About Us</a>
      <a class="dropdown-item" href="https://lawreview.lse.ac.uk/about/editorialteam/">Editorial Team</a>
      <a class="dropdown-item" href="{{site.baseurl}}/sponsors.html">Sponsors</a>
   </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Authors
   </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="{{site.baseurl}}/authors.html">All Authors</a>
         <a class="dropdown-item" href="{{site.baseurl}}/prizewinners.html">Prize Winners</a>
   </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Articles by Categories
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{{site.baseurl}}/categories">All Categories</a>
    <div class="dropdown-divider"></div>
    
    {% for category in site.categories %}
        <a class="dropdown-item" href="{{site.baseurl}}/categories#{{ category[0] | slugify }}"><span>{{ category[0] }}</span></a>
    {% endfor %}
  </div>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/submissions.html">Submission Guidelines</a>
</li>
<li class="nav-item">
<a class="nav-link" href="https://lselawreview.com">Main Journal Website</a>
</li>
