<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors">Authors</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Categories
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{{site.baseurl}}/categories">All Categories</a>
    <div class="dropdown-divider"></div>
    
    {% for category in site.categories %}
        <a class="dropdown-item" href="{{site.baseurl}}/categories#{{ category[0] | slugify }}"><span>{{ category[0] }}</span></a>
    {% endfor %}
  </div>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<li class="nav-item">
<a class="nav-link" href="https://lselawreview.com">LSE Law Review</a>
</li>
